*, *:before, *:after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Verdana;

    --border-lamp: 15px;
}

body {
    background-color: black;
}

.siren {
    margin-top: 10%;
    margin-left: 30%;
}
.siren-title {
    margin: 50px;
    margin-left: 5%;
    color: white;
    font-size: 24px;
}

.siren-blue {
    width: 200px;
    border-radius: var(--border-lamp);
    border-bottom: 100px solid blue;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    position: relative;
    float: left;
}
.blue-center {
    width: 100px;
    border-radius: var(--border-lamp);
    border-bottom: 50px solid rgb(46, 133, 255);
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    position: relative;
    top: 90px;
    left: 15%;
    filter: blur(5px);

    animation: blurred 0.5s infinite ease-out;
}

.siren-white {
    width: 200px;
    border-radius: var(--border-lamp);
    border-bottom: 100px solid rgb(20, 235, 235);
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    position: relative;
    float: left;
}
.white-center {
    width: 100px;
    border-radius: var(--border-lamp);
    border-bottom: 50px solid #a5f3ef;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    position: relative;
    top: 90px;
    left: 15%;
    filter: blur(5px);

    animation: blurred 0.3s infinite ease-out;
}

.siren-red {
    width: 200px;
    border-radius: var(--border-lamp);
    border-bottom: 100px solid red;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    position: relative;
    float: left;
}
.red-center {
    width: 100px;
    border-radius: var(--border-lamp);
    border-bottom: 50px solid orange;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    position: relative;
    top: 90px;
    left: 15%;
    filter: blur(5px);

    animation: blurred 0.5s infinite ease-out;
}

@keyframes blurred {
    0% {filter: blur(10px);}
    50% {filter: blur(25px);}
}

